


body {
	
	background-image: url("../../images/1.png");
	
}

.updateform{
	width: 25%;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
	border: 1px solod black;
	border-radius: 10px;
	margin-left: 505px;
	color: white;
	z-index: 1000;
	margin-top: 40px;
}

.updateform p{	
	color: white;
	
}

.updateform button{
	margin-left: 130px;
	margin-top: 15px;
	width: 100px;
	height: 30px;
	
	
}

.updateform2{
	width: 25%;
	height: 540px;
	margin-left: auto;
	margin-right: auto;
	background-color:white;
	opacity: 20%;
	border-radius: 10px;
	z-index: 100;
	margin-top: 40px;
}